name: Deploy to Hetzner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Upload via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: 'www599.your-server.de'
          username: 'betzlz_0'
          password: ${{ secrets.SFTP_PASSWORD }}
          local_path: './*'
          remote_path: '/pokemon/'
          sftp_only: true
          delete_remote_files: false
